.main-contact {
  color: whitesmoke;
  width: 100%;
  height: 95vh;
  height: max-content;
  background-image: url('./807267.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.inner-contact {
  width: 100%;

  height: 93.6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
button{
  cursor: pointer;
}
/* stying the text div */
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  height: 300px;
  width: 800px;
  margin-left: 100px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.text h2,
h4,
h5 {
  margin-top: -10px;
}

/* styling the img */

.img img {
  margin-left: 160px;
  height: 90vh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 390px) {
  .inner-contact {
    width: min-content;
  }
}
