

.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* stying the text div */
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    background-color: aqua;
    height: 300px;
    width: 300px;
}

.text h2,h4,h5{
    margin-top: -10px;
}

/* styling the img */

.img img{
    margin-left: 160px;
    height: 100vh;

}