.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
/* stying the text div */
.text{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.text h2,h4,h5{
    margin-top: -10px;
}

/* styling the img */
