@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
a {
  text-decoration: none;
}
.navs {
  background-color: #323232;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
}
.navs ul {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
.navs ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.navs ul li:hover {
  background-color: #000000;
}
.navs ul li:active {
  background-color: #3f3f44;
}
/* .navs ul li .icons{
    margin-bottom: 10px;
} */