@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@350&display=swap");

.home-main {
  background-image: url("https://wallpaperaccess.com/full/858288.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow-y: hidden;
  height: 93.6vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-main button {
  cursor: pointer;
  background-color: #fa1e0e;
  padding: 5px;
  width: 150px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  margin-bottom: 300px;
  transition: width 200ms;
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  -ms-transition: width 200ms;
  -o-transition: width 200ms;
}

.home-main button:hover {
  background-color: #e40017;
  color: black;
  width: 200px;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
}
.home-main button:active {
  width: 180px;
  background-color: #ec0101;
  color: white;
}
