@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

.main_regis {
  width: 100%;
  height: 94vh;
  /* background-image: linear-gradient(to left bottom, #6f7170, #636564, #575a59, #4c4f4e, #414443); */
  background-image: url('./38150.jpg');
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inner_regis {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
  width: 350px;
  height: 535px;
  padding: 10px;
  margin-bottom: 170px;
  margin-left: 150px;
  margin-top: 170px;
  padding-right: 20px;
}
.inner_regis h1 {
  text-align: center;
  color: #12ebd8;
  margin-top: 5px;
}
.inner_regis {
  font-family: "Rubik", sans-serif;
}
.inner_regis label {
  font-size: 1.2em;
  padding-top:15px;
  font-family: "Open Sans", sans-serif;
  padding-left: 20px;
  color: white;
}
.inner_regis input {
  font-family: sans-serif;
  padding: 5px;
  padding-left: 20px;
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: #12eb25;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  /* font-size: 15px; */
  /* font-weight: 400; */
}
.inner_regis input[type="text"] {
  font-size: 1em;
}
.inner_regis input[type="Number"] {
  font-size: 1em;
}
.inner_regis input:focus {
  background-color: #12eb25;
  border-bottom: 3px solid yellow;
  transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -ms-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
}
.inner_regis input:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.inner_regis input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inner_regis input[type="number"] {
  -moz-appearance: textfield;
}

.inner_regis input::placeholder {
  color: grey;
}
.inner_regis button {
  width: 100px;
  margin: auto;
  padding: 5px;
  background-color: #11698e;
  color: white;
  font-size: 15px;
  font-weight: 520;
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
   margin-bottom: -1px;
  box-shadow: 2px 1px 6px black;
}
.inner_regis button:hover {
  background-color: #03506f;
  color: white;
}
.inner_regis button:active {
  background-color: #00587a;
}
.img_regis {
  color: #f4f9f4;
  margin-left: 350px;
}
.img_regis h2 {
  font-family: "Dancing Script", cursive;
}
.img_regis h1 {
  font-family: "IBM Plex Sans", sans-serif;
}
input[type="file"]::file-selector-button {
  display: none;
}
