.disp-main {
  width: 100%;
  height: max-content;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
button{
  cursor: pointer;
}
.fil-div{
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #b5072d, #c63129, #d54e23, #e2691b, #eb8312);
  width: 1000px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; */
}
.fil-div .list-main {
  margin-top: 30px;
  /* border: 1px solid; */
  height: 435px;
  width: 300px;
  margin: 50px;
  /* border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  font-family: "Chango", cursive;
}
.fil-div .list-wrapper .content .Pers-img {
  display: flex;
  flex-shrink: 0;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  margin-top: 30px;
  /* border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; */
}
.fil-div .list-wrapper .content{
  width: 300px;
}
.fil-div #warn{
  background-color: #b5072d;
}
.fil-div .dels-btn{
  background-color: burlywood;
}
.disp-top {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  position: sticky;
  top: 50px;
  /* background-image: linear-gradient(to left bottom, #a3a3a3, #7c7d7e, #565959, #343736, #171815); */
  /* background-image: linear-gradient(to right top, #aaa2a2, #a19a9a, #979393, #8e8b8b, #858484); */
  background-image: linear-gradient(to right top, #aaa2a2, #beb8ba, #d3d0d2, #e8e7e8, #ffffff);
}
.disp-top input {
  padding: 5px;
  width: 300px;
  border: none;
  outline: none;
  margin-left: 50px;
  padding-left: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.disp-top input:hover {
  background-color: #f9f6f7;
}
.disp-top input:focus {
  background-color: #f4f3f3;
}
