.disp-main {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.fil-div{
  display: flex;
  margin: 100px auto;
  margin-top: 50px;
  justify-content: center;
  background-image: linear-gradient(to right top, #b5072d, #c63129, #d54e23, #e2691b, #eb8312);
  width: 1000px;
  /* width: max-content; */
  /* height: max-content; */
  height: 500px;
  border-radius: 20px;
  overflow-y: scroll;
  flex-wrap: wrap;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.fil-div .list-main {
  margin-top: 30px;
  border: 1px solid;
  height: 435px;
  width: 300px;
  margin: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 1px 5px black;
  font-family: "Chango", cursive;
}
.fil-div .list-wrapper .content .Pers-img {
  display: flex;
  flex-shrink: 0;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.fil-div .list-wrapper .content{
  width: 300px;
}
.disp-top {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  position: sticky;
  top: 40px;
  background-image: linear-gradient(to left bottom, #a3a3a3, #7c7d7e, #565959, #343736, #171815);
}
.disp-top input {
  padding: 9px;
  width: 300px;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.disp-top input:hover {
  background-color: #f9f6f7;
}
.disp-top input:focus {
  background-color: #f4f3f3;
}
