@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

.edit-outer{
    /* background-color: aqua; */
    /* background-image: url('https://i.pinimg.com/236x/77/b6/ae/77b6aee011d6fd769f209e35a6b8c085.jpg'); */
    /* background-image: url('./alina-chernysheva-JA2S6sJWleg-unsplash.jpg'); */
    /* background-image: linear-gradient(to right top, #aaa2a2, #9c9494, #8e8787, #807979, #736c6c); */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo3KhPhRoNcxCUWYuQzPoJEhsjN3ASa4XT_Q&usqp=CAU'); */
    /* background-color: #f9f3f3; */
    background-image: linear-gradient(to right top, #aaa2a2, #b8b2b3, #c5c2c4, #d4d3d4, #e3e3e3);
    width: 100%;
    height: 93.6vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-outer .form-container{
    margin-bottom: 100px;
}
.edit-outer .form-container .inner_edit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid;
    border-image-slice: 1;
    /*border-image-source: linear-gradient(to left, #00c853, #b2ff59);
    */border: 4px solid grey;
    border-radius:5px ;
    width: 400px;
    height: 570px;
    padding: 10px;
    margin-top: 110px;
    padding-right: 20px;
    padding-top: 10px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}

.edit-outer  .form-container .inner_edit h1 {
    text-align: center;
    /* color: #12ebd8; */
    margin-top: 0px;
  }
  .edit-outer  .form-container .inner_edit {
    font-family: "Rubik", sans-serif;
  }
  .edit-outer  .form-container .inner_edit label {
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
    margin-bottom: 10px;
    color:whitesmoke;
  }
  .edit-outer  .form-container .inner_edit input {
    padding: 5px;
    padding-left: 20px;
    margin-left: 30px;
    border: none;
    outline: none;
    /* background-color: #12eb25; */
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  
    font-size: 15px;
    font-weight: 400;
  }
  .edit-outer  .form-container .inner_edit input[type="text"] {
    font-size: 1em;
  }
  .edit-outer  .form-container .inner_edit input[type="Number"] {
    font-size: 1em;
  }
  .edit-outer  .form-container .inner_edit input:focus {
    /*background-color: #12eb25;
    */background-color: #eff8ff;
    border-bottom: 3px solid #393e46;
    transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear;
    -moz-transition: border 0.2s linear;
    -ms-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
}
  .edit-outer  .form-container .inner_edit input:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
  .edit-outer  .form-container .inner_edit input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .edit-outer  .form-container .inner_edit input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .edit-outer  .form-container .inner_edit input::placeholder {
    color: grey;
  }
  .edit-outer  .form-container .inner_edit button {
    width: 100px;
    margin: auto;
    padding: 8px;
    background-color: #11698e;
    color: white;
    font-size: 15px;
    font-weight: 520;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
     margin-bottom: -1px;
    box-shadow: 2px 1px 6px black;
    /* margin-bottom: 30px; */
  }
  .edit-outer  .form-container .inner_edit button:hover {
    background-color: #03506f;
    color: white;
  }
  .edit-outer  .form-container .inner_edit button:active {
    background-color: #00587a;
  }
  /* .img_regis {
    color: #f4f9f4;
    margin-left: 350px;
  }
  .img_regis h2 {
    font-family: "Dancing Script", cursive;
  }
  .img_regis h1 {
    font-family: "IBM Plex Sans", sans-serif;
  }
  input[type="file"]::file-selector-button {
    display: none; */