@import url("https://fonts#googleapis.com/css2?family=Oswald&display=swap");

.none{
  display: none;
}
.dis-content{
  margin-right:-190px ;
  width: max-content;
  height: max-content;
  margin-top: -8px;
}
.add-btn{
  width: 100px;
  height: 20px;
  margin-top: 3px;
  margin-right: 25px;
  padding: 3px;
  padding-left: 4px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  outline: none;
  text-align: center;
}
.done-btn{
  height: 20px;
}
.cancel-btn{
  height: 20px;
}
.dis-content button {
  border: none;
  outline: none;
  margin-right: 4px;
  padding: 3px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dis-content button:hover{
  background-color: #e3e3e3;
  color: white;
}
.dis-content button:active{
  background-color: #bbbbbb ;
}
.list-main img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.list-main {
  margin-top: 30px;
  border: 1px solid;
  height: 435px;
  width: 300px;
  margin-left: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 1px 5px black;
  font-family: "Chango", cursive;
}
.list-main a{
  text-decoration: none;
  color: black;
}
.list-main h2,
h3 {
  padding-left: 20px;
}
.list-wrap {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.list-main{
    margin-left: 20px;
}
.list-wrapper .content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -200px;
}
.list-wrapper .content .btn-del {
  margin-right: 10px;
}
.list-wrapper .content .Pers-img {
  width: 200px;
  height: 150px;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.list-cont {
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
}
.list-wrapper .warn {
  display: flex;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.list-wrapper .btn-del {
  color: black;
  padding: 3px;
  background-color: white;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.list-wrapper .btn-del:hover {
  color: red;
}
.list-wrapper .btn-del:active {
  color: #be0000;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
#warn .paid-btn {
  margin-right: 20px;
  padding: 4px;
  width: 50px;
  border: none;
  outline: none;
  background-color: #f8f1f1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 20px;
  margin-top: 7px;
}
#warn .paid-btn:hover {
  background-color: #c7cfb7;
}
#warn .paid-btn:active {
  background-color: yellowgreen;
  color: white;
}
