@import url("https://fonts#googleapis.com/css2?family=Oswald&display=swap");

.none{
  display: none;
}
.dis-content{
  margin-right:-190px ;
  width: max-content;
  height: max-content;
  margin-top: -8px;
}
.advance-div{
  /* background-color: #be0000; */
  width: 250px;
}
.add-btn{
  background-color:#aaaaaa;
  color: white;
  width:100px;
  height: 20px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 13px;
  padding-left: 14px;
  border: none;
  /* border-top-left-radius: 20px;
  border-bottom-right-radius: 10px; */
  outline: none;
  text-align: center;
}

.amount{
  background-color:#aaaaaa;
  color: white;
  width: 225px;
  height: 20px;
  margin-top:10px;
  margin-left: 20px;
  padding: 13px;
  /* padding-left: 4px; */
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  outline: none;
  text-align: center;
}
.done-btn{
  height: 28px;
  margin-left: 10px;
  /* padding: 5px; */
  /* margin-bottom: -20px; */
}
.cancel-btn{
  height: 28px;
  margin-left: 10px;
}
.dis-content{
  margin-top: 200px;
}
.dis-content button {
  background-color: #aaaaaa;
  border: none;
  outline: none;
  margin-right: 4px;
  padding: 3px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dis-content button:hover{
  background-color: #e3e3e3;
  /* color: green; */
}
.dis-content button:active{
  background-color: #bbbbbb ;
  /* color: greenyellow; */
}
/* .list-main img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
/* } */
/* .list-wrapper .img-div{
  background-image: url('./4779573.jpg');
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
} */
.list-main {
  word-wrap: break-word;
  margin-top: 30px;
  /* border: 1px solid; */
  height: 435px;
  width: 300px;
  margin-left: 100px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.6);
  font-family: "Chango", cursive;
}
.list-main a{
  text-decoration: none;
  color: black;
}
.list-main h2,
h3 {
  padding-left: 20px;
}
.list-wrap {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}
.list-main{
    margin-left: 20px;
}
.list-wrapper{
  /* background-color: #aaaaaa; */
  height: fit-content;
  border: none;
}
.list-wrapper .content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -200px;
}
.list-wrapper .content .btn-del {
  margin-right: 10px;
}
.list-wrapper .content .Pers-img {
  width: 200px;
  height: 190px;
  margin-right: 20px;
  margin-top: 220px;
}
.list-cont {
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
}
/* .list-wrapper .warn {
  display: flex;
  align-items: center;
  background-color: red;
  padding: 10px;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */
.btn-del{
  margin-left: 10px;
}
/* 
 .btn-del {
  cursor: pointer;
  color: black;
  padding: 3px;
  background-color: white;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
} */
 .btn-del:active {
  color: red;
}
.list-wrap .list-txt{
  font-family: sans-serif;
  font-size: 5px;
  /* background-color: #aaaaaa; */
  margin-top: 50px;
}
.dels-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #be0000;
  border: none;
  outline: none;
  width: 30px;
  height: 35px;
  background-color: #929aab;
  margin-right:10px;
  margin-top: 220px;
}
.list-wrap .list-cont{
  font-family: sans-serif;
  font-size: 5px;
  /* background-color: red; */
  margin-top: 50px;
}
.list-wrap .list-txt h4{
  padding-top: 16px;
  padding-left: 20px;
  
}
.list-wrap .list-cont h4{
  padding-top: 16px;
  padding-left: 20px;
}
.list-wrapper .btn-del:active {
  color: #be0000;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
#warn #res-btn{
  width: 100px;
}
#warn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
  background-color: green;
  /* width: 300px; */
  width: 100%;
  /* border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ; */
}
#warn .paid-btn {
  border: none;
  cursor: pointer;
  color: black;
  padding-left:15px ;
  padding-right:13px ;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#warn .paid-btn:hover {
  background-color: #c7cfb7;
}
#warn .paid-btn:active {
  background-color: #aaaaaa;
}
button{
  cursor: pointer;
}